body{
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-rows: auto auto auto;
    font-family: 'Oswald', sans-serif;
}
/*CONFIGURANDO CABEÇALHO*/
.cabecalho{
    display: flex;
    background-color: #21535C;
    justify-content: center;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}
.navbar__lista{
    display: flex;
}
.lista__item{
    margin-left: 15px;
    padding: 10px;
}
.lista__item:first-child{
    margin-left: 0px;
}
.lista__link{
    text-decoration: none;
    color: #FFF;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.lista__link:hover, .ativo{
    border-bottom: 3px solid #9BDBF7;
}
/*----------------------------------------*/
/*CONFIGURANDO CORPO DO SITE*/
.descricao-clinica{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
/* .principal{
    grid-area: conteudo;
    display: grid;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    height: calc(300vh - 200px);
    padding: 0 20px;
} */
/*Apresentação da clínica*/
.titulo-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px outset #409BC2;
    font-size: 2em;
    padding: 2% 10%;
}
.descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #9BDBF7;
    width: 60%;
    height: 45%;
    font-size: 1.5em;
    color: black;
    text-align: justify;
    line-height: 25px;
    padding: 10px 10px;
}
.descricao p::before{
    content: "\261B";
}
/*apresentação da lista de alguns serviços*/
.especialidades{
    display: flex;
    justify-content: center;
    height: 200vh;
}

.fotos-proficionais{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    background-color: white;
    display: grid;
    grid-template-areas: 
        "imagem"
        "titulo"
        "descricao";
    grid-template-rows: 35% 10% 55%;
    text-align: justify;
    line-height: 30px;
    border: 3px solid #409BC2;
    width: 300px;
    height: 400px;
}
.card:nth-child(odd){
    margin-right: 20px;
}
.card__titulo{
    font-size: 1.4em;
    text-align: center;
    align-self: center;
    border-bottom: 2px solid tomato;
}
.card__descricao{
    font-size: 1em;
    padding: 0px 10px;
}

.imagem-cirurgia{
    grid-area: imagem;
    background: url('../img/cirurgia.jpg') center / cover no-repeat;
}
.imagem-radiografia{
    grid-area: imagem;
    background: url('../img/radiografia.jpg') center / cover no-repeat;
}
.imagem-dentista{
    grid-area: imagem;
    background: url('../img/dentista.jpg') center / cover no-repeat;
}
.imagem-nutricionista{
    grid-area: imagem;
    background: url('../img/nutricionista.jpg') center / cover no-repeat;
}
.imagem-cardiologista{
    grid-area: imagem;
    background: url('../img/cardiologista.jpg') center / cover no-repeat;
}
.imagem-neurologista{
    grid-area: imagem;
    background: url('../img/neurologista.jpg') center / cover no-repeat;
}

.localizacao{
    display: flex;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}
.localizacao__titulo{
    text-align: center;
    padding-bottom: 25px;
    font-size: 32px;
    border-bottom: 3px solid #21535C;
}
.mapa{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.rodape{
    grid-area: rodape;
    background-color: #21535C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    margin-top: 45px;
}

.rodape p {
    padding-top: 15px;
    color: white;
    font-size: 14px;
}
/*RESPONSIVO*/
@media only screen and (min-width: 0px) and (max-width: 480px){
    .container{
        flex-direction: column  ;
    }
    .cabecalho__logo{
        margin-bottom: 5px;
    }
    .descricao{
        width: 85%;
        height: 70%;
        font-size: 1.2em;
    }
    .especialidades{
        height: auto;
    }
    .card{
        margin-top: 20px;
        height: 450px;
    }
    .card:first-child{
        margin-top: 0px;
    }
    .card:nth-child(odd){
        margin-right: 0px;
    }
    .localizacao__titulo{
        margin-top: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px ){
    .descricao{
        width: 85%;
        height: 70%;
        font-size: 1.2em;
    }
    .especialidades{
        height: auto;
    }
    .card{
        margin-top: 20px;
        height: 450px;
    }
    .card:first-child{
        margin-top: 0px;
    }
    .card:nth-child(odd){
        margin-right: 0px;
    }
    .localizacao__titulo{
        margin-top: 50px;
    }
}
@media only screen and (min-width: 1500px){
    .lista__link{
        font-size: 2.2em;
        border-width: 5px;
    }
    .titulo-descricao{
        font-size: 4em;
    }
    .descricao{
        width: 85%;
        height: 70%;
        font-size: 3em;
        line-height: initial;
    }
    .especialidades{
        height: auto;
    }
    .card{
        margin-top: 20px;
        height: 450px;
        width: 474px;
    }
    .card__descricao{
        font-size: 2em;
        padding: 10px 20px;
    }
    .card__titulo{
        font-size: 2.5em;
    }
    .card:first-child{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .card:nth-child(odd){
        margin-right: 0px;
    }
    .localizacao__titulo{
        margin-top: 50px;
        font-size: 3em;
    }
}


